#home {
  margin-top: 30px;
  margin-bottom: 100px;
}

.row-home {
  margin-top: 30px;
}

/* .card-title {
  text-align: center;
  padding: 100px 0;
} */


.full-img {
  background: url("../images//full.jpg") no-repeat center center fixed;

  background-size: cover;
  height: 650px;

}