h1 {
  z-index: 1;
  position: absolute;
  margin-top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  color: orange;
  border: 1px solid orange;
  background: transparent;
}

.carousel {
  z-index: 0;
}

.carousel-item img {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}
