.Navbar {
  background: #D3959B;
  background: -webkit-linear-gradient(to top, #BFE6BA, #D3959B);
  background: linear-gradient(to top, #BFE6BA, #D3959B);

  .nav-link {
    padding: 0.2em;
    font-size: 14px;
    color: darkviolet;

    @media (min-width: 500px) {
      padding: 0.7em;
      font-size: unset;
    }
  }

  .active-link {
    background: #D3959B;
    background: -webkit-linear-gradient(to bottom, #BFE6BA, #D3959B);
    background: linear-gradient(to bottom, #BFE6BA, #D3959B);
  }
}

.Navbar:hover .nav-link {
  opacity: .5;
  color: white;
}

.Navbar .nav-item .nav-link:hover {
  opacity: 1;
}