.Navbar {
  // background: lightsalmon;
}

.nav-link {
  padding: 0.3em;

  @media (min-width: 500px) {
    padding: 0.7em;
  }
}

.Navbar:hover .nav-link {
  opacity: .5;
}

.Navbar .nav-item .nav-link:hover {
  opacity: 1;
}