.carousel {
  z-index: 0;
}

.carousel-item img {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.testimonials {
  // border: 1px solid orange;
  max-width: 500px;
  margin: 50px auto;

  .carousel-item{
    padding: 20px 0 50px;

    span {
      font-weight: bold;
    }
  }
}

.social-media {
  i {
    margin: 0 15px;
    color: rgb(145, 128, 99);
  }
}