.Contact {
  .form-control {
    border-radius: 15px;
  }

  textarea {
    resize: none;
  }

  ::placeholder {
    font-style: italic;
    font-size: 14px;
  }

  .adress-container span {
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .contact-btn {
    letter-spacing: 1px;
  }
}
