.Room {
  .row {
    align-items: center;
  }

  .col-md-8 > img {
    border-radius: 0.25rem;
  }

  .col-md-4 {
    padding: 50px 30px;

    .feedback {
      position: absolute;
      top: 10px;
      font-size: 14px;
      font-style: italic;
      text-decoration: underline;
      text-decoration-color: #d3959b;
    }

    .title {
      text-align: initial;
    }

    ul {
      list-style-type: none;
      padding-left: 20px;

      li > i {
        padding-right: 7px;
      }
    }

    .room-btn {
      letter-spacing: 1px;
    }
  }
}

.fas.fa-male {
  margin: 0 14px 0 5px;
}

.fas.fa-glass-martini-alt {
  margin-right: 9px;
}

.fas.fa-utensils {
  margin: 0 7px 0 2px;
}

.fas.fa-dumbbell {
  margin-right: 4px;
}

.fas.fa-spa {
  margin: 0 2px 0 1px;
}
