body {
  height: 100%;
  padding: 0;
  margin: 0 auto;

  /* // max-width: 1300px; */
  overflow-x: hidden;

  text-align: justify;

  /* double check this one */
  /* // overflow: hidden; */

  background: lightsteelblue;

  /* // border: 10px solid lightslategray; */
}

/* this is page heading on every page */
h2 {
 margin-bottom: 1.5em;
}

h3 {
  text-align: center;
}

/* // h1 through h6 one css eg { */
/* // text-align: center; */
/* / } */