body {
  height: 100%;
  padding: 0;
  margin: 0 auto;

  /* // max-width: 1300px; */
  overflow-x: hidden;

  text-align: justify;

  /* double check this one */
  /* // overflow: hidden; */

  background: lightsteelblue;

  /* // border: 10px solid lightslategray; */
}

/* // h1 through h6 one css eg { */
/* // text-align: center; */
/* / } */