body {
  margin: 0 auto;
  text-align: justify;
  background: #f8f5f2;
  font-family: 'Montserrat', sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
}

h2 {
  margin: 3em auto 2em;
  text-align: center;
}

h3 {
  text-align: center;
}